* { 
    padding: 0;
    margin: 0;
    background-color:cornflowerblue;
}

.body {
    font-family:'Courier New', Courier, monospace;
}

.container {
    display:flex;
    justify-content: center;
    margin: 25px;
}

.dog{
    width: 20vw;
    height: 50vh;
}

.card {
    background-color: red;

}